{{audio-plyr
  mp3="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3"
  ogg="https://cdn.selz.com/plyr/1.0/logistics-96-sample.ogg"
  plyrObject=audioPlyr
  options=audioOptions
  playing="playingAudio"
  suspend="suspendAudio"
}}

<button {{action 'playPauseAudio'}}>Play Pause audio</button>