{{audio-plyr
  mp3="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3"
  ogg="https://cdn.selz.com/plyr/1.0/logistics-96-sample.ogg"
  plyrObject=audioPlyr
}}

{{video-plyr
  mp4="https://cdn.selz.com/plyr/1.0/movie.mp4"
  webm="https://cdn.selz.com/plyr/1.0/movie.webm"
  plyrObject=videoPlyr
}}

<button {{action 'playPauseAudio'}}>Play Pause audio</button>