{{video-plyr
  mp4="https://cdn.selz.com/plyr/1.0/movie.mp4"
  webm="https://cdn.selz.com/plyr/1.0/movie.webm"
  plyrObject=videoPlyr
  options=videoOptions
  playing="playingVideo"
  suspend="suspendVideo"
}}

<button {{action 'playPauseVideo'}}>Play Pause Video</button>